h1 {
    text-align: center;
    color: rgb(22, 3, 6);
    border-color: rgb(230, 191, 109);
    border-style: groove;
    font-size: medium;
    border-width: 3cm;
    background-color: rgb(252, 251,241);
    
}

h2 { 
    text-align: center;
    color: crimson;
    border-color: rgb(100, 75, 75);
    border-style: groove;
    font-size: medium;
    border-width: 3cm;
    background-color: rgb(248, 245, 244);
}

h3 {
    text-align: center;
    color: deeppink;
    border-color: rgb(243, 105,70);
    border-style: double;
    font-size: medium;
    border-width: 3cm;
    background-color: rgb(235, 223, 156);
}

h4 {
    text-align: center;
    color: darkorange;
    border-color: brown;
    border-style: dotted;
    font-size: medium;
    border-width: 3cm;
    background-color: bisque;
}

body {
    background-color: bisque;
}


.img-comida {
    display: flex;
    flex-direction: column;
    align-items: center;
}
